.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.spinner {
  margin-top: 15px;
}

.container {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  background-color: #f2f2f2;
}
